.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #e0e0e0;
    background-color: #5e6266c9;

}

.footerin1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 15px 10px 0px 30px;
}

.footerin1 div {
    width: 15%;
    min-width: 200px;
}

.footerin1 .f1 {
    width: 15%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.footerin1 .f1 img {
    width: 200px;
    margin-bottom: 10px;
}

.footerin1 .f1 p {
    font-size: 16px;
    color: #ffffff;
    font-weight: 200;
    width: 100%;
}

.footerin1 .f2 {
    padding-top: 20px;
}

.footerin1 .f2 h3 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 90%;
    color: #cae962;
}

.footerin1 .f2 p {
    font-size: 15px;
    font-weight: 200;
    margin: 3px 0px;
    color: #ffffff;
    width: 90%;
}
.imgsocial {
    margin: 0;
    padding-top: 0;
    padding-bottom: 10px;
}
.footerin1 .f2 p:hover{
    cursor: pointer;
    color: var(--col1);
}

.footerin1 .f2 .inputcontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    margin: 10px 0px;
    padding: 5px 5px;
    background-color: #5e6266;
}


.footerin1 .icon1 svg {
    width: 20px;
    height: 20px;
    color: #000000;
    /* background-color: aqua; */
}

.footerin1 .icon2 svg {
    width: 20px;
    height: 20px;
    color: var(--col1);
    
}

.footerin1 .f2 .inputcontainer input {
    width: 80%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 200;
    background-color: #e7e7e7;
    border-radius: 10px;
}

.footerin2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1px 30px;
    border-top: 1px solid #e0e0e0;
}

.footerin2 h3 {
    font-size: 17px;
    font-weight: 300;
}

.footerin2 img {
    width: 300px;
}
.socialmedia {
    display: flex;
    flex-direction: row;
}

.socialmedia a {
    width: 80%;
    border: none;
    padding: 1px;
    margin: 0px 10px 0px 10px;
    text-decoration: none; 
}
.socialmedia .insta{
    color: deeppink;
    
}

@media (max-width: 650px) {
    .footer .f1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .footer .f2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .footerin2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
}
